@page
@model InnocodeWeb.IndexModel

@{
    ViewData["Title"] = "Project List";
}

<h2>Project List</h2>

<p>
    <a asp-page="Create">Create New Project</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Project ID</th>
            <th>Project Name</th>
            <th>Team ID</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProjectList)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.TeamId</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>